:root {
    --primary: #50d412;
    --secondary: #ffb923;
    --light: #F1F8FF;
    --dark: #0F172B;
    --bs-gradient:linear-gradient(180deg,#ffb923, #ffffff96);
    
}

body {
    background-color: #F1F8FF;
}
section {
    height: auto;
    background-color: rgba(255, 255, 255, 0.842);
}

.container {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.btn {
    font-weight: 500;
    border-radius: 2px;
    font-size: 1rem;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.contactButton {
    bottom: 5%;
    right: 16%;
    z-index: 3;
}

.contactButton i {
    font-size: 4rem;
}


/* navbar and header */

.brandHeader {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #161c2b;
    height: 4%;
    z-index: 2;
    padding: 0;
    
}

#brandName{
    text-align: center;
    padding: 10px;
    color: var(--primary);
}

#brandName img{
    max-height: 95px;
}

#brandName a {
    text-decoration: none;
    color: var(--primary);
    font-size: calc(1.575rem + 1.5vw);
    font-family: "Akronim", sans-serif;
    text-shadow: 2px 2px 3px rgb(15, 15, 15);
}

#brandInfo {
    display: flex;
    flex-direction: column;
}

#headerContactInfo {
    position: relative;
    top: -5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 45px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
#headerContactInfo i {
    color: var(--primary);
}

.navLinks{
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navLink{
    text-decoration: none;
    color: rgb(252, 252, 252);
    padding-left: 10px;
    text-shadow: 1px 1px 2px rgb(70, 70, 70);
    transition: 0.3s ease-in-out;
    font-size: 1.1rem;
    margin-right: 2%;
}

.navLink:hover, .navLinks .active {
    color: var(--primary);
    font-weight: bold;
}

#navBar {
    position: absolute;
    right: 3%;
    display: none;
}

/* header carousel section */

#liveAlertPlaceholder {
    position: sticky;
    top: 12%;
    right: 0;
    z-index: 2;
}

#main-carousel {
    height: auto;
    margin-top: 20px;
    
    background: linear-gradient(rgba(0, 83, 109, 0.897), rgba(0, 158, 111, 0.863)), url(./pic/ownPics/DarjeelingDestination/tigerhill1.jpg);
    /* background: linear-gradient(rgba(7, 233, 222, 0.5), rgba(1, 39, 24, 0.5)); */    
    background-repeat: round;
    margin-left: 0;
    margin-right: 0;

}

.carousel-inner {
    border-radius: 10px;
}

#main-carousel .col{
    margin: auto;
}

#mainCarousel img {
    height: 80vh;
    object-fit: cover;
    /* border-radius: 5%; */
}

#sideText {
    width:90%;
    height: auto;
    padding: 2%;
    margin: auto;
}

#textHeader {
    font-size: 3rem;
    color: rgb(242, 255, 250);
    font-family: "Lucida Handwriting";
    margin-top: 4%;
}

#textHeader span{
    position: absolute;
    animation: blurFadeIn 3s ease infinite;
}

#textHeader #heading2 {
    margin-top: 7vh;
    color: aqua;
    animation-delay: 0.5s; 
}

#textHeader #heading3 {
    margin-top: 14vh;
    /* color: rgb(238, 140, 21); */
    color: var(--secondary);
    animation-delay: 1s; 
}
 
#textContent {
    margin-top: 30vh;
    font-size: 1.5rem;
    font-family: "Lucida Handwriting";
    color: rgb(219, 210, 210);
}

@keyframes blurFadeIn {
    0% {
      opacity: 0;
      text-shadow: 0px 0px 50px #fff;
      transform: translateX(-100px);
    }
    
    100% {
      opacity: 1;
      text-shadow: 0px 0px 1px #fff;
      transform: translateX(0px);
    }
}


.carousel-item img {
    object-fit: contain;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.nav-pills .nav-item .modalNavLink {
    background-color: #6b6b6b;
    color: #e9e9e9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav-pills .nav-item .modalNavLink:hover {
    background-color: var(--secondary);
    font-weight: bold;
}

.nav-pills .nav-item .modalNavLink.active {
    background-color: var(--primary);
    font-weight: bold;
}

/* about us */

.sectionHeading {
    padding-top: 30px;
    padding-left: 1rem;
    color: var(--primary);
}

.aboutInfo {
    padding: 20px;
}

.aboutInfo p{
    color: rgb(65, 66, 66);
}


.brand {
    font-weight: bold;
    color: var(--primary);
}


/* our destinations */

.destination-image {
    height: 300px;
    transition: transform .4s;
    object-fit: cover;
}

.destination-item {
    overflow: hidden;
    transition: all .4s;
    height: 100%;
}

.destination-item:hover {
    background-color: rgb(190, 255, 198);
}

.destination-item:hover .destination-image{
    transform: scale(1.03);
}

.destinationButtons {
    height: 60px;
    background-image: var(--bs-gradient);
    color: #795e5e;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.destinationButtons:hover {
    cursor: pointer;
    background-color: #ffb923;
}

.itinearyDays i, b {
    color: var(--primary);
}

.card-footer i{
    color: var(--secondary);
}

/* our services */

.service-item{
    height: 310px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-item i{
    color: var(--primary);
    font-size: 2.5rem;
}

.attractionsImg {
    height: 175px;
    object-fit: cover;
}


/* testimonials */

/* #carouselExample1 {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(./pic/carousel1.jpg);
    min-height: 55vh;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 9%;
    padding-right: 9%;
} */

.feedbackContent {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 100%;
    margin: 1% auto;
    height: auto;
    padding:3px;
    text-align: center;
}

#carouselExample {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(./pic/ownPics/feedbackbg.jpg);
    margin: auto;
    min-height: 55vh;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
    display: flex;
    align-items: center;
}

#feedbackCarousel {
    padding-left: 9%;
    padding-right: 9%;
}


#feedbackTextContent {
    height: auto;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

#feedbackTextContent i {
    color: var(--primary);
    font-size: 2rem;
}

#feedbackImageContent {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */
    height: auto;
    margin: auto;
    width:50%;
}

#feedbackImageContent img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 31, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#feedbackButtonDiv {
    display: flex;
    justify-content: center;  
}


#imageUploadPreview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
}

#imageUploadPreview img {
    height: 200px;
    width: 200px;    
    object-fit: contain;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 31, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.stars {
    font-size: 30px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
    margin: 0 5px;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(247, 255, 20);
}

.four {
    color: rgb(179, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}

#stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}

.requiredField {
    color: red;
}

/* contact us */

#contactInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

#contactInfo i{
    color: var(--primary);
}

#contactSubmit {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
}

#aboutUs {
    padding-bottom: 6%;
}

#addressDiv {
    background: rgba(255, 255, 255, 0.4);
    
    color: #292626;
    height: 45vh;
    margin: 10px auto;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* footer */

#pagefooter {
    background-color: var(--dark);
    color: var(--light);
    
}

#pagefooter ul {
    list-style-type: none;
    padding-left: 0;
}

#pagefooter a {
    color: var(--light);
    text-decoration: none;
}


.modalCarouselImage {
    
    object-fit: cover;
}

@media (max-width: 1200px) {
    #feedbackImageContent {
        width: 100%;
    }
}

@media (max-width: 992px) {
    #navBar {
        display: block;
        top: 13px;
        font-size: 30px;
    }

    #navBar a{
        color: #F1F8FF;
    }

    #headerContactInfo {
        display: none;
    }

    .navLinks {
        display: none;
    }

    .navResponsive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        top: 0;
        left: 10px;
    }

    .brandHeaderResponsive {
        justify-content: flex-start;
        align-items: flex-start;
        height: 320px;
        flex-direction: column;
    }

    #aboutInfo {
        background-color: red;
        display: flex;
        flex-direction: column;
    }

    #textContent {
        font-size: 1rem;
    }

    #main-carousel {
        margin-top: 0;
    }

    #mainCarousel img {
        height: 40vh;        
    }

    #feedbackImageContent img {
        width: 100px;
        height: 80px;
    }
    #feedbackImageContent {
        width: 100%;
    }
    #feedbackTextContent {
        width: 100%;
    }
    #feedbackCarousel {
        padding-left: 11%;
        padding-right: 11%;
    }

    .brandInfo {
        display: none;
    }
}
