html {
    /* scroll-behavior: smooth !important; */
}

body {
    background-image: url(./Pics/background3.jpg) ;
    /* background-color: #0ffde998; */
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    /* 23152 */
}


.brandHeader {
    position: sticky;
    top: 0;
    background: rgba(221, 221, 221, 0.318);
    margin-top: 15px;
    backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 70px;
}

#brandName {
    display: flex;
    align-items: center;
}

#brandName img{
    max-height: 60px;
}

#brandName a {
    text-decoration: none;
    color: #94e005;
    font-size: 1.8rem;
    font-family: "Lucida Handwriting";
    text-shadow: 2px 2px 3px rgb(15, 15, 15);
}

.searchDestination {
    position: relative;
    width: 35%;
}

#selectOption{
    display: none;
    flex-direction: column;
    width:100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    z-index: 2;
}

.searchOption{
    text-decoration: none;
    z-index: 3;
    color: #01a701;
    transition: all .3s;
    padding-left: 5px;
    border-radius: 5px;
}

.searchOption:hover {
    background-color: #0c6d0c;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    padding-left: 10px;
    text-shadow: 1px 1px 2px rgb(70, 70, 70);
    transition: 0.3s ease-in-out;
    font-size: 1.1rem;
}

#nav a:hover {
    color: rgb(96, 255, 202);
    font-weight: bold;
}


#navBar {
    position: absolute;
    right: 3%;
    display: none;
}

#carousel {
    height: auto;
    margin-top: 20px;
}


@keyframes display {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(-100px);
      opacity: 0;
    }
}
  
.pic-ctn {
    position: relative;
    width: 90%;
    padding: 5%;
    /* background-color: yellow; */
    height: 40vw;
    margin: auto;
    padding: 2%;
}
  
.pic-ctn img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 15s infinite;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right:  auto;
    object-fit: cover;
    left: 0;
    border: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
    border-radius: 10px;
}
  
img:nth-child(2) {
    animation-delay: 3s;
}

img:nth-child(3) {
    animation-delay: 6s;
}

img:nth-child(4) {
    animation-delay: 9s;
}

img:nth-child(5) {
    animation-delay: 12s;
}

#sideText {
    width:90%;
    height: auto;
    /* background-color: red; */
    padding: 2%;
    margin: auto;
}

#textHeader {
    font-size: 3rem;
    color: white;
    font-family: "Lucida Handwriting";
}

#textHeader span{
    position: absolute;
    animation: blurFadeIn 3s ease infinite;
}

#textHeader #heading2 {
    margin-top: 6vh;
    color: aqua;
    animation-delay: 0.5s; 
}

#textHeader #heading3 {
    margin-top: 12vh;
    color: bisque;
    animation-delay: 1s; 
}
 
#textContent {
    margin-top: 30vh;
    font-size: 1.5rem;
    font-family: "Lucida Handwriting";
    color: white;
}

@keyframes blurFadeIn {
    0% {
      opacity: 0;
      text-shadow: 0px 0px 50px #fff;
      transform: translateX(-100px);
    }
    
    100% {
      opacity: 1;
      text-shadow: 0px 0px 1px #fff;
      transform: translateX(0px);
    }
}

.section {
    margin-top: 5%;
}  

.packageHeader{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.packageHeader h3{
    color: beige;
    font-size: 2rem;
    font-family: "Lucida Handwriting";
    text-shadow: 2px 1px 3px rgb(158 158 158), 3px 3px 10px rgb(0 0 0 / 89%);
}

/* package cards display */

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    transition: all .5s;
}

.card-body {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(34, 34, 34);
}

.card-img-top {
    transition: transform .6s;
}

.card:hover {
    background: rgba(255, 255, 255, 0.8 );
    box-shadow: 1px 3px 10px rgb(84, 255, 204);
}

.card:hover .card-img-top {
    transform: scale(1.08);
    box-shadow: 0 4px 8px 0 #97ebbd33, 0 6px 20px 0 #3ae77c30;
}

.card-text {
    transition: all .5s;
}

.card:hover .card-text {
    color: rgb(75, 77, 71);
    text-shadow: 1px 1px 3px rgb(92, 92, 92);
}

/* Why choose us section */

#facilities {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);

}

#facilities div {
    text-align: center;
    margin-top: 8px;
    width: 40%;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
    transition: all .5s;
}

#facilities i {
    color: rgb(162, 243, 70);
}

#facilities div:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* testimonials and rating section */

#testimonialCarousel {
    width: 100%;
    height: auto;
    /* background-color: rgb(78, 236, 236); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.feedbackContent {
    /* background-color: red; */
   
    width: 100%;
    margin: auto;
    height: auto;
    padding:10px;

}

#carouselExample {
    margin: auto;
    width: 100vw;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
    /* background-color: #a1f309; */
}

#feedbackCarousel {
    padding-left: 8%;
    padding-right: 8%;
}

#feedbackTextContent {
    /* background-color: #ffde23; */
    height: auto;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

#feedbackImageContent {
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    margin: auto;
    width:50%;
}

#feedbackImageContent img {
    height: 200px;
    width: 200px;    
    object-fit: contain;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 31, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#feedbackButtonDiv {
    display: flex;
    justify-content: center;  
}

#imageUploadPreview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
}

#imageUploadPreview img {
    height: 200px;
    width: 200px;    
    object-fit: contain;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 31, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.stars {
    font-size: 30px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
    margin: 0 5px;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(247, 255, 20);
}

.four {
    color: rgb(179, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}

#stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}

.requiredField {
    color: red;
}

#feedbackButton {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    color: white;
    text-shadow: 1px 1px 3px rgb(34, 34, 34);
    border-color: transparent;
}

.modal-content {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    color: #ffffff;
    text-shadow: 1px 1px 3px rgb(34, 34, 34);
}

/* contact us form */

#contactDiv > div {
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
}

#addressDiv {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    color: #ffffff;
    height: 45vh;
    /* width: 60%; */
    margin: 10px auto;
    padding:15px;
    text-shadow: 1px 1px 3px rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
}

#addressDiv p{
    font-weight: 600;
}

#contactFormDiv {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    color: #ffffff;
    height: 45vh;
    /* width: 60%; */
    margin: 10px auto;
    padding:15px;
    text-shadow: 1px 1px 3px rgb(34, 34, 34);
    /* background-color: greenyellow; */
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

/* site footer */

#pageFooter {
    height: 40vh;
}


/* package modal css */

.nav-pills .nav-item .nav-link {
    background-color: #a1f309;
    color: #ffffff;
}

.nav-pills .nav-item .nav-link.active {
    background-color:#ffde23;
    color: #000000;
}

#tabButton:hover {
    background-color: #c9c9c9;
}

#tabButton {
    /* border: 1px solid #b4b4b4; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.modalCarouselImage {
    height: 300px;
    object-fit: cover;
}

/* for phone display */


#liveAlertPlaceholder {
    position: sticky;
    top: 10%;
    right: 0;
    z-index: 1;
}

#aboutText {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
    padding: 15px;
}


@media (max-width: 1200px) {
    #feedbackImageContent {
        width: 100%;
    }

    .nav {
        display: none;
    }

    #navBar {
        display: block;
        top: 27px;
    }

    #navBar a{
        color: #ffffff;
    }

    .brandHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .navResponsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchDestination {
        display: none;
    }

    .searchDestinationResponsive {
        display: block;
        width: 80%;
    }

}

@media (max-width: 990px) {
    #feedbackImageContent {
        width: 100%;
    }
    #feedbackTextContent {
        width: 100%;
    }

    #brandName {
        position: relative;
        left: 0;
    }

    #brandName a {
        font-size: 1.6rem;
    }

}

@media (max-width: 800px) {

    .pic-ctn {
        height: 40vh;
    }

    #sideText {
        height: auto;
    }

    #textHeader {
        font-size: 2rem;
    }

    #contactFormDiv {
        height: 58vh;
    }

    #textContent {
        margin-top: 20vh;
        font-size: 1rem;
    }

    #feedbackImageContent img {
        height: 100px;
        width: 100px;
    }

    #facilities div {
        width: 80%;
    }
}


